  <div class="container">
    <%= form_with(model: service, local: true) do |form| %>
      <% if service.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h4>
          <ul>
            <% service.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name , "Nome", class:"fw-bold" %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :description, "Descrição", class:"fw-bold" %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price, "Preço", class:"fw-bold" %>
        <%= form.text_field :price, class: 'form-control' %>
      </div>

      <div class="d-flex gap-2 mt-3">
        <%= link_to "Voltar", services_path, class: 'btn btn-secondary btn-sm' %>
        <%= form.submit "Salvar", class: 'btn btn-secondary btn-sm' %>
      </div>
    <% end %>
  </div>