<!DOCTYPE html>
<html>
  <head>
    <title>TimeManagerPro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-secondary text-white text-center py-3">
      <h1>TimeManagerPro</h1>
      <p>Gerencie seu tempo com eficiência</p>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
        </div>
      </nav>
    </header>

    <main class="container mt-4">
      <!-- Banner Principal -->
      <div class="jumbotron text-center bg-secondary bg-gradient p-5 rounded-5 rounded-top-0">
        <% if user_signed_in? %>
          <h2 class="text-white">Bem-vindo <%= current_user.name %> !!</h2>
        <% else %>
          <h2 class="text-white">Bem-vindo ao TimeManagerPro</h2>
        <% end %>
        <p class="text-white" >O melhor sistema para gerenciar seu tempo e seus agendamentos.</p>
      </div>

      <!-- Seções de Conteúdo -->
      <div class="row mt-5">
        <div class="col-md-4 text-center">
          <i class="bi bi-calendar-check" style="font-size: 2rem;"></i>
          <h3>Serviços Oferecidos</h3>
          <p>Descubra todos os serviços que oferecemos.</p>
          <%= link_to 'Ver Todos os Serviços', services_path, class: "btn btn-outline-secondary" %>
        </div>
        <div class="col-md-4 text-center">
          <i class="bi bi-people" style="font-size: 2rem;"></i>
          <h3>Depoimentos</h3>
          <p>Veja o que nossos clientes têm a dizer.</p>
          <%= link_to 'Ver depoimentos', services_path, class: "btn btn-outline-secondary" %>
        </div>
        <div class="col-md-4 text-center">
          <i class="bi bi-lightning-charge" style="font-size: 2rem;"></i>
          <h3>Vantagens</h3>
          <p>Saiba por que você deve usar o nosso sistema.</p>
          <%= link_to 'Conferir vantagens', services_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>

      <!-- Depoimentos de Clientes -->
      <div class="mt-5">
        <h2 class="text-center">Depoimentos de Clientes</h2>
        <div class="row">
          <div class="col-md-6">
            <blockquote class="blockquote text-center">
              <p class="mb-0">"Este sistema mudou a minha vida! É muito fácil de usar e me ajuda a manter tudo organizado."</p>
              <footer class="blockquote-footer mt-2">João Silva</footer>
            </blockquote>
          </div>
          <div class="col-md-6">
            <blockquote class="blockquote text-center">
              <p class="mb-0">"Excelente ferramenta para gerenciar meus compromissos. Recomendo a todos."</p>
              <footer class="blockquote-footer mt-2">Maria Souza</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-secondary text-white text-center py-3 mt-5">
      <p>&copy; 2024 TimeManagerPro. Alexandre Pateis da Rocha.</p>
      <p>Contato: alepateis9090@gmail.com</p>
      <div>
        <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
      </div>
    </footer>
  </body>
</html>
