 <div class="container">
    <p class="text-success"><%= notice %></p>
    <h1>Clientes</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.email %></td>
            <td><%= client.phone %></td>
            <td>
              <%= link_to "Mostrar", client, class: 'btn btn-primary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Novo cliente", new_client_path, class: 'btn btn-success' %>
  </div>