<div id="<%= dom_id appointment %>">
  <p>
    <strong>Client:</strong>
    <%= appointment.client.name %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= appointment.service.description %>
  </p>

  <p>
    <strong>Preço:</strong>
    R$ <%= appointment.service.price %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.datetime %>
  </p>

</div>
