<div class="container mt-4">
    <p class="text-success"><%= notice %></p>

    <div class="card">
      <div class="card-header bg-secondary text-white">
        Dtalhes do agendamento
      </div>
      <div class="card-body">
        <%= render @appointment %>
      </div>
      <div class="card-footer">
        <div class="d-flex gap-2" role="group">
          <%= link_to "Voltar", appointments_path, class: 'btn btn-secondary btn-sm' %>
          <%= link_to "Editar", edit_appointment_path(@appointment), class: 'btn btn-secondary btn-sm' %>
        <%= button_to "Apagar", @appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm' %>
        </div>
      </div>
    </div>
  </div>